<h1>{{ name }}</h1>

<!-- Definition List -->
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- Usando un getter (se usa como cualquier propiedad aunque sea un método) -->
  <dd>{{ capitalizedName }}</dd>
</dl>

<!-- Directiva *ngIf. Con propiedades propias de Angular no hace falta indicar la doble llave {{ }}
     Solo es necesario indicar una expresión de JavaScript. Si la expresión regresa true o truthy
     mostrará el botón, y si es false o falsy (0, null o undefined) lo destruirá.
-->
<button
  *ngIf="name !== 'spiderman'"
  (click)="changeHero()"
  class="btn btn-primary"
>
  Cambiar Nombre
</button>

<button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-primary mx-2">
  Cambiar Edad
</button>

<!-- Las directivas de Angular también son parte del ciclo de detección de cambios de Angular -->
<button (click)="resetForm()" class="btn btn-primary">Reset</button>
