<h1>DBZ Main Personajes</h1>
<hr />

<!-- Usando componentes pequeños, fáciles de mantener y reutilizar -->
<div class="row">
  <div class="col">
    <!-- Funcionando con el @Input que tenemos en list.component.ts -->
    <!-- Aquí indicamos, para characterList, el nombre que enviamos al hijo -->
    <!-- Gracias a TypeScript sabemos que tenemos que indicar un arreglo de tipo Character -->
    <!-- Podríamos mandar un arreglo vacío "[]", pero en este caso tenemos nuestros characters -->
    <!--  -->
    <!-- Escuchamos el evento onDelete y lo conectamos con el método deleteCharacterById(). El valor que es emitido lo tenemos con $event -->
    <dbz-list
      [characterList]="dbzService.characters"
      (onDelete)="dbzService.deleteCharacterById($event)"
    ></dbz-list>
  </div>

  <div class="col">
    <!-- De alguna manera, este componente me tiene que dar la información necesaria para poder
      guardar el heroe en el array de characters.
      Para lograr esto, tenemos que emitir ese valor.

      El (onNewCharacter) proviene de add-character.component.ts
      En el componente padre, main-page.component.ts crearemos un método onNewCharacter()
      NOTA: Ahora está en el service

      Y le mandamos un parámetro de tipo Character. Lo recibimos con $event.
      $event es un nombre específico y Angular sabe que el valor que emite (onNewCharacter)
      irá a ese parámetro.
    -->
    <dbz-add-character
      (onNewCharacter)="dbzService.onNewCharacter($event)"
    ></dbz-add-character>
  </div>
</div>
